
<%
var categories = [];
item.categories.forEach(function(tag){
    categories.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
});
%>

<div class="categories">
    <%- categories.join(' ') %>
</div>

